.bg-gray {
    background-color: #fafafa;
}

/* .ant-menu-item {
    background-color: #40a9ff;
    color: #fff !important;
}

.ant-menu-item:hover {
    background-color: #69c0ff !important;
}

.ant-menu-item:focus {
    color: #fff !important;
    background-color: #69c0ff !important;
    font-weight: 600;
}

.ant-menu-submenu-title {
    color: #fff !important;
} */